*.o
*.obj
*.mtl
*.mof
*.anf
*.exe
*.map
*.png
*.jpg
*.dll
*.txt
*.cbp
*.depend
*.layout
*.cscope_file_list
*.json
lib/assimp
lib/GLEW
lib/SDL
lib/OPENAL
lib/vorbis
lib/bullet
models
textures
sounds
!images/*
.obsidian