*.o
*.obj
*.mtl
*.mof
*.anf
*.exe
*.map
*.png
*.jpg
*.dll
*.txt
*.layout
*.json
*.log
lib/assimp
lib/GLEW
lib/SDL
lib/OPENAL
lib/vorbis
lib/bullet
lib/backtrace
lib/newton
levels
models
textures
sounds
entities
textures_temp
models_temp
!images/*
.obsidian